<% if (allBanks) { %> 
   
    <ul>
        <% allBanks.forEach((banks) => { %>
            <li> <%= banks.name %> </li>
            <img width="100px" src=<%= banks.logo %> >
            <% }  ) %></ul>
   
<% } %> 