<div>
	<table>
		<thead>
			<tr>
				<th colspan="4">All Endpoints</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Request Method</td>
				<td>Endpoints</td>
				<td>Description</td>
				<td>link</td>
			</tr>
			<tr>
				<td>GET</td>
				<td>/states</td>
				<td>return all states in Nigeria</td>
				<td><a href="/states"> States </a></td>
			</tr>
			<tr>
				<td>GET</td>
				<td>/banks</td>
				<td>return all banks in Nigeria</td>
				<td><a href="/banks"> Banks </a></td>
			</tr>
			<tr>
				<td>GET</td>
				<td>/countryInfo</td>
				<td>return all countries in World</td>
				<td><a href="/countryInfo"> Country Info </a></td>
			</tr>
		</tbody>
	</table>
</div>
