<div>

	<table>
		<thead>
			<tr>
				<th colspan="4"> All Endpoints </th>
			</tr>
		</thead>
		<tbody>
		 	<tr>
            	<td>Request Method</td>
            	<td>Endpoints</td>
            	<td>Description</td>
            	<td>link</td>
        	</tr>
        	<tr>
            	<td>GET</td>
            	<td>/states</td>
            	<td>return all states in Nigeria</td>
            	<td> <a href="/states"> States </a> </td>
        	</tr>
        	<tr>
            	<td>GET</td>
            	<td>/banks</td>
            	<td>return all banks in Nigeria</td>
            	<td> <a href="/banks"> Banks </a> </td>
        	</tr>
					<tr>
							<td>GET</td>
							<td>/countries</td>
							<td>return a list of 'African' countries</td>
							<td> <a href="/countries"> 'African' Countries </a> </td>
					</tr>
        </tbody>

	</table>


</div>
