<body style="display: flex; flex-direction: column; align-items: center">
  <h1>Country Info API</h1>

  <div>
    <table border="1">
      <thead>
        <tr>
          <th colspan="4">INFORMATION</th>
        </tr>
        <tr>
          <th>Request method</th>
          <th>Endpoint</th>
          <th>Description</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GET</td>
          <td>/regions</td>
          <td>returns all regions in DB</td>
          <td><a href="/regions">Regions</a></td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/regions/{region_name}</td>
          <td>returns all countries in region</td>
          <td><a href="/regions/west%20africa">West Africa</a></td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/regions/{region_name}/country/{country_name}</td>
          <td>returns data about specific country</td>
          <td>
            <a href="/regions/west%20africa/country/nigeria">Nigeria</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
