
<% if (data) { %>
    <h1>
         All Banks
    </h1>

    <ol>
        <% data.forEach( (item) => { %>
            <li> <%= item.name %> uses USSD <%= item.ussd %>   </li> 
        <% }) %>
    </ol>

<% } %>
