<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Index Home Baby

    <h1> Imperative </h1>
    <ul>
        <li>Rabo</li>
        <li>Segun</li>
        <li>Lola</li>
        <li>Eben</li>
        <li>Blue</li>
        <li>Red</li>
        <li>Joshua</li>
        <li>Solomon</li>
        <li>Jaafar</li>
    </ul>    

    <h1> Declarative </h1>

    <ul id="declarative">
    </ul>
</body>
<script type="text/javascript">
    const personsInClass = ["Rabo", "Segun", "lola","red", "blue", "jaafar", "solomon", "eben", "joshua"]
    
    orderedListElement = document.getElementById("declarative")
    
    personsInClass.map(item => {
        listElement = document.createElement("li")
        listElement.textContent = item
        orderedListElement.appendChild(listElement)
        return listElement
    })

</script>
</html>