

<% if (allStates) { %>
    <h1>
         All States
    </h1>

    <ol>
        <% allStates.forEach( (item) => { %>
            <li> <%= item.state.name %> has <%= item.state.locals.length %>  LGA </li> 
        <% }) %>
    </ol>

    <!-- <img src="/img/birthday/balloon.jpg"  width="200px" height="200px"/> -->
<% } %>
