<% if (data) { %>
	<h1> <%= data.state.name %> </h1>
	<p> has <strong> <%= data.state.locals.length %> </strong> LGA </p>
	
	<ul>
	<% data.state.locals.forEach( (item) => { %>
		<li> <%= item.name %> </li>
	<% }) %>
	</ul>

<% } %>